@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;900&family=Rokkitt:wght@100;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer base {
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-2xl;
  }
  h5 {
    @apply text-xl;
  }
  h6 {
    @apply text-lg;
  }
  p {
    @apply text-base;
  }
}

h1 {
  letter-spacing: .25rem;
}

.button {
  @apply border-solid border-2 border-white py-4 px-8 uppercase font-thin transition-all hover:bg-white hover:text-black hover:font-normal hover:scale-105
}

.button-wrapper {
  @apply flex gap-4 justify-center items-center mt-10
}

.active {
  @apply bg-white text-black font-normal
}

.navlinks {
  @apply uppercase font-light text-white gap-4 flex justify-center
}

.navlink {
  @apply hover:scale-105
}

.pergunta {
  @apply text-center lowercase font-thin mb-5 mt-10
}

